@* admin Template File *@
@(lang: Lang, pgSelected: Playground = null, playgrounds:List[Playground], 
	paths: List[Path] = null, points: List[Point] = null)

@import helper._
@import play.api.i18n._
@import scala.collection.immutable._


@implicitFieldConstructor = @{ FieldConstructor(views.html.admin.twitterBootstrapInputWithoutLabel.f) }

@customCSS = {
	<style type="text/css" media="screen">  
		svg {
		     background-image: url(/assets/images/map.png);
		     background-repeat: no-repeat;
		}
		line {
		    stroke:rgb(0,0,0);
		    stroke-width:4;
		}
		circle {
		        fill: white;  
		        stroke: black;  
		        stroke-width: 1;  
		        -webkit-transition: all 350ms;  
		}  
		circle:hover {
		        fill: orange;
		        stroke-width: 1;  
		}
	</style>
}

@customJS = {
	<script type="text/javascript" src="@controllers.common.routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
	<script type="text/javascript" src="@controllers.common.routes.Assets.at("javascripts/jquery.json-2.4.min.js")"></script>
	<script type="text/javascript" src="@controllers.admin.routes.Assets.at("javascripts/playgrounds.js")" 
		charset="UTF-8"></script>
	<script>
		$(function() {   
			console.log("Document loaded ...");
			showPreviewJson("@controllers.admin.routes.Playgrounds.showPreviewJson()", "@if(pgSelected!=null){@pgSelected.name}");
		});
	</script>
}

@views.html.common.main(Messages("admin.title")(lang),"admin") {
		
	@layout(lang)(customJS)(customCSS)(Messages("admin.title")(lang))("playgrounds"){  
		
		<h1>@Messages("admin.h1")(lang)</h1>
	    
		@* ******** Select Playground ********** *@
		
		<div class="btn-group">
		  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    @if(pgSelected!=null){Spielfeld: @pgSelected.name}else{Wähle ein Spielfeld}
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		  	@for( (playground, index) <- playgrounds.zipWithIndex) {
		    	<li><a href="@controllers.admin.routes.Playgrounds.load(playground.name)">@{index + ": " + playground.name}</a></li>
			}
		  </ul>
		</div>
		
		@* ****************************** Preview **************************@
		
		<h2>Vorschau</h2>
		
		<svg id="svgGraph" width="1200" height="900" version="1.1" xmlns="http://www.w3.org/2000/svg" />
		<p id="jsonresponse" class="text-info">Kein Spielfeld gewählt</p>
				
		@* ***************************** Tabs ******************************** *@

	    <p>
		    <ul class="nav nav-tabs">
			  <li>
			  	<a href="@controllers.admin.routes.Playgrounds.pathNpoints()">Play Forms</a>
			  </li>
			  <li >
			    <a href="@controllers.admin.routes.Playgrounds.points()">AJAX (Punkte)</a>
			  </li>
			  <li class="active">
			    <a href="@controllers.admin.routes.Playgrounds.paths()">AJAX (Pfade)</a>
			  </li>
			  <li >
			    <a href="@controllers.admin.routes.Playgrounds.pointsWS()">Websocket</a>
			  </li>
			  <li>
			    <a href="@controllers.admin.routes.Playgrounds.comet()">Comet</a>
			  </li>
			</ul>		
		</p>
		
		@* **************** Point Table ********************* *@
		
		<div class="row-fluid">
		
			<div class="span12">
			
				<table class="table table-striped" id="allPoints">
			 		<tr>
						<th align="center" width="60">ID</th>					
						<th align="left">Startpunkt</th>		
						<th align="left">Endpunkt</th>
						<th></th>
						<th></th>
					</tr>							
					
					@if(paths!=null) {
						@for((path,i) <- paths.zipWithIndex) {																
							<tr id="@path.id">
								<td width="60">@path.id</td>
								<td width="60">									
									<select id="fromPoint_@path.id"  onchange="setDirty()">																					 				
						 				@for(point<-points) {
						 					<option value="@point.id" @if(point.id==path.fromPoint.id){selected}>@point.id</option>
						 				}											       
									</select>
								</td> 
								<td width="60">
									<select id="toPoint_@path.id"  onchange="setDirty()">																				 				
						 				@for(point<-points) {
						 					<option value="@point.id" @if(point.id==path.toPoint.id){selected}>@point.id</option>
						 				}
									</select>
								</td>
								<td>
									<input type="submit" class="btn" value="Save" onclick="savePath(@path.id)"/>
								</td>
								<td>											
									<input type="submit" class="btn" value="Delete" onclick="deletePath(@path.id)" />																
								</td>
							</tr>					
						}
					}					
					
					<tr id="createRow">				 			
			 			<td></td>				 			
			 			<td>
			 				<select id="selectFrom"  onchange="setDirty()">			 				       
								@for(point<-points) {
				 					<option value="@point.id">@point.id</option>
				 				}
							</select>													 			
			 			</td>				 			
			 			<td>	
			 				<select id="selectTo"  onchange="setDirty()">		 				
				 				@for(point<-points) {
				 					<option value="@point.id">@point.id</option>
				 				}
							</select>
			 			</td>				 									 	
						<td><input type="submit" class="btn" value="New" onclick="createPath('@pgSelected.name')"></td>
						<td></td>
			 		</tr>			 		
			 	</table>		 	
		 	</div>
	 	</div>
	}   
}




